<div id="filterrific_results">
  <div>
    <% page_entries_info properties %>
  </div>
  <table>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Price</th>
      <th>Bedrooms</th>
      <th>Bathrooms</th>
    </tr>
    <% properties.each do |property| %>
      <tr>
        <td><%= property.name %></td>
        <td><%= link_to(property.country, property_path(property)) %></td>
        <td><%= property.price %></td>
        <td><%= property.bedrooms %></td>
        <td><%= property.bathrooms %></td>
      </tr>
    <% end %>
  </table>
</div>

<%= will_paginate properties  %>