<p id="notice"><%= notice %></p>

<h1>All listings</h1>

<div class="container">
  <%= form_for_filterrific @filterrific do |f| %>
    <div>
      Search
      <%= f.text_field(
        :search_query,
        class: 'filterrific-periodically-observed'
      ) %>
    </div>
    <div>
      Sorted by
      <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
    </div>
    <div>
      <%= link_to(
        'Reset filters',
        reset_filterrific_url,
      ) %>
    </div>
    <%= render_filterrific_spinner %> 
  <% end %>

  <%= render(
    partial: 'properties/list',
    locals: { properties: @properties }
  ) %>
</div>